
<div class="row">
        <div class="twelve columns">
        <h3 class="bg-title-left">Impressum und Kontakt</h3>
        </div>
        <div class="six columns text-part no-margin">
        <p>
                {{ site.author }}<br>
                {{ site.street }}<br>
                {{ site.city }}<br>
        </p>
        </div>
        <div class="six columns text-part">
        <p>   
                <a href="mailto:{{ site.mail }}">{{ site.mail }}</a><br>
                <a href="{{ site.facebook }}">Facebook</a><br>
                <a href="tel:{{ site.tel }}">{{ site.tel }}</a>
        </p>
        </div>
        <div class="twelve columns mobile-text">
        <h3 class="mobile-title">Kontakt und Impressum</h3>
                
                        <p>
                                        {{ site.author }}<br>
                                        {{ site.street }}<br>
                                        {{ site.city }}<br>
                                </p>
                                <p>   
                                                <a href="mailto:{{ site.mail }}">{{ site.mail }}</a><br>
                                                <a href="tel:{{ site.tel }}">{{ site.tel }}</a><br>                                        
                                                <a href="{{ site.facebook }}" target="_blank">Facebook</a>
                                        </p>
        </div>
        </div>