
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
            <title>
            {{ site.title }}
            </title>
            
            <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
        
            <link rel="manifest" href="{{ site.baseurl }}/manifest.json">
            <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.title }}: {{ site.description }}{% endif %}">
            <meta name="robots" content="index,follow">
                <meta name="author" content="{{ site.author }}">
            <meta itemprop="name" content="{{ site.title }}">
            <meta name="theme-color" content="#111">
            <meta name="HandheldFriendly" content="True">
            <meta name="MobileOptimized" content="320">

            <link rel="shortcut icon" href="{{ "/uploads/favicon.png" | prepend: site.baseurl }}">    
        
            <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
            <meta property="og:type" content="website" />
            <meta property="og:title" content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}" />
            <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.title }}: {{ site.description }}{% endif %}" />
            <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/uploads/banner.png" />
            <meta property="og:image:type" content="image/png"  />
        
            <meta name="twitter:card" content="summary" />
            <meta name="twitter:site" content="{% if site.twitter_username %}@{{ site.twitter_username }}{% else %}lukashimsel{% endif %}" />
            <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} - {{ site.title }}" />
            <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.title }}: {{ site.description }}{% endif %}" />
            <meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}/uploads/banner.png" />